ddd/*
p1/*
p1_2/*
p2/*
p2_2/*
p3_2/*
Practicas/PrimerParcial/*
Practicas/SegundoParcial/pr2_2/*
Practicas/SegundoParcial/p3_mult_matrix/*
Practicas/SegundoParcial/dp_chain_matrix/prepros-6.config
/*.pdf